<div class="navbar navbar-inverse navbar-static-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a href="/projects" class="brand">MY STUFFS</a>
    </div>
  </div>
</div>
<div id="portfolio_item">
  <div class="container">
    <div class="section_header">
      <h3><a href="/projects">Back</a></h3>
    </div>
    <div class="span7 left_box">
       <div class="big">
         <img src="/assets/<%= @project.image_1 %>" />
         <img src="/assets/<%= @project.image_2 %>" />
         <img src="/assets/<%= @project.image_3 %>" />
       </div>
    </div>
    <div class="span5 right_box">
      <h2><%= @project.title %></h2>
      <p><%= @project.description %></p>
      <div class="thumbs">
        <div class="thumb">
          <img src="/assets/<%= @project.image_1 %>" width="90px" />
          <a href="#" class="mask">
            <div class="more">+</div>
          </a>
        </div>
        <div class="thumb">
          <img src="/assets/<%= @project.image_2 %>" width="90px" />
          <a href="#" class="mask">
            <div class="more">+</div>
          </a>
        </div>
        <div class="thumb">
          <img src="/assets/<%= @project.image_3 %>" width="90px" />
          <a href="#" class="mask">
            <div class="more">+</div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
